*
!.gitignore
!.vimrc
.vim-*
!.tmux*
!/Snippets/*
!/Snippets/
!/.vim/
!/.vim/*
!/.vim/ftplugin/
!/.vim/ftplugin/*
!/.vim/plugged/
!/.vim/dictionaries/
!/.vim_my_settings/

!.zshrc
!.zsh_plugins
!.zsh_plugins.sh
!/.zsh_my_settings/

!.gitconfig
!.config_file_list
!.linux_setup_notes

!.disable_keyboard
