/*
!.gitignore
!.vimrc
!.vim-*
!.tmux*
!/Snippets/
!/.vim/
/.vim/*
!/.vim/ftplugin/
!/.vim/plugged/
!.zshrc
!.zsh_exports
!.zsh_functions
!.zsh_aliases
!.zsh_my_settings
!.zsh_colours

!.zsh_plugins
!.zsh_plugins.sh
