[user]
	name = KevT-plan
	email = knickells@tplan.com
[pull]
    rebase = true
[credential]
	helper = store
[core]
	editor = nvim
[color "push"]
  rejected = red bold reverse
[color "status"]
  added = blue
  changed = red bold
  untracked = magenta bold
  branch = red bold reverse
[difftool]
	prompt = false
[alias]
	d = difftool
	lgb = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --branches
[fetch]
	prune = true
[push]
	autoSetupRemote = true
