[submodule ".vim/plugged/ale"]
	path = .vim/plugged/ale
	url = git@github.com:w0rp/ale.git
[submodule ".vim/plugged/nerdtree"]
	path = .vim/plugged/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule ".vim/plugged/vim-scheakur"]
	path = .vim/plugged/vim-scheakur
	url = git@github.com:scheakur/vim-scheakur.git
[submodule ".vim/plugged/fzf.vim"]
	path = .vim/plugged/fzf.vim
	url = git@github.com:junegunn/fzf.git
[submodule ".vim/plugged/elm-vim"]
	path = .vim/plugged/elm-vim
	url = git@github.com:elmcast/elm-vim.git
[submodule ".vim/plugged/vim-colors-solarized"]
	path = .vim/plugged/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule ".vim/plugged/vim-rubocop"]
	path = .vim/plugged/vim-rubocop
	url = git@github.com:ngmy/vim-rubocop.git
[submodule ".vim/plugged/vim-matchit"]
	path = .vim/plugged/vim-matchit
	url = git@github.com:adelarsq/vim-matchit.git
[submodule ".vim/plugged/vim-fugitive"]
	path = .vim/plugged/vim-fugitive
	url = git@github.com:tpop/vim-fugitive.git
