# Because who needs to type accurately?
alias cd..='cd ..'
alias fidd='diff'
alias insatll=install
alias isntall=install
alias mdkir='mkdir'
alias mdkri='mkdir'

# Because I won't remember these commands
alias zs="vim ~/.zshrc"
alias sz="source ~/.zshrc"

# Because Vim
alias Z="exiter"
alias ZZ="exiter"
alias ZZZ="exiter"
alias jj="pwd"

alias o="open_this_folder"

# Because lazy
alias b="xdg-open"
alias c="clear"
alias cath="head -10"
alias ga="git add"
alias gb="git branch"
alias gc="git_add_commit_push"
alias gpsh="git push"
alias gp="git pull --recurse-submodules"
alias grf="git show --pretty='' --name-only HEAD" # git last files amended
alias gst="git status"
alias hsk='stack ghci'
alias lg="ls --color=auto && gst"
alias ll="ls -lhA"
alias mkdircd="mkdir_and_cd"
alias py="python3"
alias pytest="pytest -rs"
alias python="python3"
alias rf="rm -rf"
alias v="open_last_git_commits_and_most_recent_directory"
alias ..='down_n_folder'
alias ...='cd'
alias cd="cd_and_chill" # allows for opening most recent folder with  each new instance
alias killjobs="kill ${${(v)jobstates##*:*:}%=*}"

# Nice colours for grep
alias grep='grep --color=auto'

# nice colours for git log
alias glg="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --"

