# Because who needs to type accurately?
alias cd..='cd ..'
alias fidd='diff'
alias insatll=install
alias isntall=install
alias mdkir='mkdir'
alias mdkri='mkdir'

# Because I won't remember these commands
alias zs="vim ~/.zshrc"
alias sz="source ~/.zshrc"

# Because Vim
alias Z="exiter"
alias ZZ="exiter"
alias ZZZ="exiter"
alias jj="pwd"
alias o="open_this_folder"

# Because lazy
alias b="xdg-open"
alias c="clear"
alias cath="head -10"
alias dcu="docker-compose up"

# shortcut for history | grep 'string'
alias f="find_in_history"
alias h="find_in_history"

# alias co="checker_outer"
alias cd="cd_and_chill" # allows for opening most recent folder with  each new instance

alias ga="git add"
alias gb="git_brancher"
alias gc="git_options"

# alias gdf="git difftool"
alias gp="git pull --recurse-submodules"
alias gpsh="git push"
alias grf="git show --pretty='' --name-only HEAD" # git recent files
alias gst="git status"
alias hsk='stack ghci'
alias lg="ls --color=auto && gst"
alias ll="ls -lhA"
alias killjobs="kill ${${(v)jobstates##*:*:}%=*}"
alias mkdircd="mkdir_and_cd"
alias py="python3"
alias pytest="pytest -rs"
alias python="python3"
alias rf="rm -rf"
alias v="open_last_git_commits_and_most_recent_directory"
alias ..='down_n_folder'
alias ...='cd'
alias dockercl="docker_clean"
alias pips="pip_install_save"
alias ports="find_by_port_no"
alias killport="find_and_kill_port"
alias dup="docker-compose up"
alias prs="python ~/PR-selector/update_PR.py"
alias gcb="git_checkout_and_switch_to_branch"
alias gcl="git_clean_branches"


# Nice colours for grep
alias grep='grep --color=auto'

# nice colours for git log
alias glg="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --"
